In [350]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action="ignore")

In [351]:
df = pd.read_csv('dataset.csv',encoding = 'utf-8')
print(df)

     Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0             1        337          118                  4  4.5   4.5  9.65
1             2        324          107                  4  4.0   4.5  8.87
2             3        316          104                  3  3.0   3.5  8.00
3             4        322          110                  3  3.5   2.5  8.67
4             5        314          103                  2  2.0   3.0  8.21
..          ...        ...          ...                ...  ...   ...   ...
495         496        332          108                  5  4.5   4.0  9.02
496         497        337          117                  5  5.0   5.0  9.87
497         498        330          120                  5  4.5   5.0  9.56
498         499        312          103                  4  4.0   5.0  8.43
499         500        327          113                  4  4.5   4.5  9.04

     Research  Chance of Admit
0           1              0.92
1           1              0.76
2           1              0.72
3           1              0.80
4           0              0.65
..        ...               ...
495         1              0.87
496         1              0.96
497         1              0.93
498         0              0.73
499         0              0.84

[500 rows x 9 columns]

In [352]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [353]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [354]:
from sklearn.utils import shuffle
df_shuffled = shuffle(df,random_state = 42)

In [355]:
df_shuffled.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
361,362,334,116,4,4.0,3.5,9.54,1,0.93
73,74,314,108,4,4.5,4.0,9.04,1,0.84
374,375,315,105,2,2.0,2.5,7.65,0,0.39
155,156,312,109,3,3.0,3.0,8.69,0,0.77
104,105,326,112,3,3.5,3.0,9.05,1,0.74

In [356]:
DV = 'Chance of Admit '

In [357]:
x= df_shuffled.drop(['Chance of Admit ','Serial No.'],axis=1)

In [358]:
x.head()

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
361        334          116                  4  4.0   3.5  9.54         1
73         314          108                  4  4.5   4.0  9.04         1
374        315          105                  2  2.0   2.5  7.65         0
155        312          109                  3  3.0   3.0  8.69         0
104        326          112                  3  3.5   3.0  9.05         1

In [359]:
y=df_shuffled[DV]

In [360]:
y.head()

361    0.93
73     0.84
374    0.39
155    0.77
104    0.74
Name: Chance of Admit , dtype: float64

In [361]:
X = np.array(X)
y = np.array(y)

In [362]:
y = y.reshape(-1, 1)
y.shape

(500, 1)

In [363]:
# scaling the data before training the model
from sklearn.preprocessing import StandardScaler, MinMaxScaler
scaler_x = StandardScaler()
x= scaler_x.fit_transform(x)

In [364]:
scaler_y = StandardScaler()
y = scaler_y.fit_transform(y)

In [365]:
from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te = train_test_split(x,y,test_size=0.33,random_state=42)
print(x_tr.shape,x_te.shape,y_tr.shape,y_te.shape)

(335, 7) (165, 7) (335, 1) (165, 1)

In [366]:
x_tr.shape

(335, 7)

In [367]:
from sklearn.linear_model import LinearRegression

In [368]:
mlr = LinearRegression()

In [369]:
mlr.fit(x_tr,y_tr)

LinearRegression()

In [370]:
Y_pred = mlr.predict(x_te)

In [371]:
Y_pred.shape

(165, 1)

In [372]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
mse= mean_squared_error(y_te,Y_pred)
rmse=np.sqrt(mse)
print("Mean squared error:",mse)
print("Mean absolute error:",mean_absolute_error(y_te,Y_pred))
print("Root mean squared error:",np.sqrt(mse))
print("R-Square:",r2_score(y_te,Y_pred)*100)

Mean squared error: 0.1681399829641051
Mean absolute error: 0.2915226817873182
Root mean squared error: 0.4100487568132662
R-Square: 80.74119498003452

In [373]:
accuracy= mlr.score(x_te,y_te)
print("Accuracy:",accuracy)

Accuracy: 0.8074119498003451

In [374]:
df.corr()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,1.000000,-0.103839,-0.141696,-0.067641,-0.137352,-0.003694,-0.074289,-0.005332,0.008505
GRE Score,-0.103839,1.000000,0.827200,0.635376,0.613498,0.524679,0.825878,0.563398,0.810351
TOEFL Score,-0.141696,0.827200,1.000000,0.649799,0.644410,0.541563,0.810574,0.467012,0.792228
University Rating,-0.067641,0.635376,0.649799,1.000000,0.728024,0.608651,0.705254,0.427047,0.690132
SOP,-0.137352,0.613498,0.644410,0.728024,1.000000,0.663707,0.712154,0.408116,0.684137
LOR,-0.003694,0.524679,0.541563,0.608651,0.663707,1.000000,0.637469,0.372526,0.645365
CGPA,-0.074289,0.825878,0.810574,0.705254,0.712154,0.637469,1.000000,0.501311,0.882413
Research,-0.005332,0.563398,0.467012,0.427047,0.408116,0.372526,0.501311,1.000000,0.545871
Chance of Admit,0.008505,0.810351,0.792228,0.690132,0.684137,0.645365,0.882413,0.545871,1.000000

Preparation for Deployment

In [375]:
data  = pd.read_csv('dataset.csv')

In [376]:
data=data.rename(columns = {'Chance of Admit ':'Chance of Admit'})

In [377]:
X = data.drop(["Serial No.","University Rating","SOP","LOR ","Research","Chance of Admit"],axis=1)
y = data["Chance of Admit"].values

In [378]:
X.columns

Index(['GRE Score', 'TOEFL Score', 'CGPA'], dtype='object')

In [379]:
from sklearn.model_selection import train_test_split
X_train_new, X_test_new, y_train_new, y_test_new = train_test_split(
    X, y, test_size=0.15, random_state=37)

In [380]:

from sklearn.preprocessing import MinMaxScaler
scalerX = MinMaxScaler(feature_range=(0, 1))
x_tr[x_tr.columns] = scalerX.fit_transform(x_tr[x_tr.columns])
x_te[x_te.columns] = scalerX.transform(x_te[x_te.columns])

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

In [ ]:
from sklearn.linear_model import LinearRegression
lr_new = LinearRegression()
lr_new.fit(X_train_new,y_train_new)
y_pred_lr_new = lr_new.predict(X_test_new)

In [ ]:
# Finding the Residuals
from sklearn import metrics
print('MAE',metrics.mean_absolute_error(y_test_new,y_pred_lr_new))
print('MSE',metrics.mean_squared_error(y_test_new,y_pred_lr_new))
print('RMSE',np.sqrt(metrics.mean_squared_error(y_test_new,y_pred_lr_new)))

MAE 0.036217856775619686
MSE 0.002431732490666465
RMSE 0.049312599715148515

In [389]:
# Saving model to disk
import pickle
pickle.dump(lr_new, open('model.pkl','wb'))

In [390]:
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[312,112,8.87]]))

[0.76705426]